body{
	margin:0;
	padding: 0;
	background-color:#eee;
	font-family: Helvetica; 
}

.header{
	background-color:black; 
	color:white;
	height: 100px;
}

.header h1{
	padding-top: 20px;
	text-align: center;
	font-size: 40px;
}

.card{
	width: ; 
	background-color: gray;
	margin:20px auto;
	height: 320px; 
	text-align: center;
	padding-top: 60px;
}

.card button{
	margin-left: 20px;
}

.container{
	width: 100%;
}

.row {
	width: 33%;
	display: inline-block;
}

